{% extends 'base.html' %} {% block isi %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'tambah-buku' %}">Tambah Buku</a>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>JUDUL</th>
            <th>PENULIS</th>
            <th>PENERBIT</th>
            <th>JUMLAH</th>
            <th>KELOMPOK</th>
          </tr>
        </thead>
        <tbody>
          {% for buku in books %}
          <tr>
            <td>
              <a href="{% url 'ubah_buku' buku.id %}">{{ buku.judul }}</a>
            </td>
            <td>{{ buku.penulis }}</td>
            <td>{{ buku.penerbit }}</td>
            <td>{{ buku.jumlah }}</td>
            <td>{{ buku.kelompok_id_id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <li></li>
    </div>
  </div>
</div>

{% endblock %}
